.EducationSectionComponent {
  margin-bottom: 20px;
}
.educationInputs {
  display: flex;
  flex-flow: row;
}

.education {
  margin-left:-5px;
  margin-right: 10px;
}

.educationtextarea {
  width: 50%;
  height: 100px;
  margin-left: 10px;
    color: #000022;
}
.educationSpan {
    color: #000022;
}
.flexColumn {
  display: flex;
  flex-flow: column;
}
@media screen and (max-width: 330px) {

  .educationInputs {
    display: flex;
    flex-flow: column;
    margin-right: 50%;
    margin-left:10px;
  }

.educationSpan {
  margin-left:20px;
  margin-right: 10px;
   color: #000022;
}
.education {
  margin-left:10px;
  margin-right: 10px;
}

.educationtextarea {
  width: 90%;
  height: 100px;
  margin-left: 20px;
  margin-top: 10px;
}
.EducationSectionComponent {
  margin-left: 10px;
}

}
