*{margin: 0px;
padding: 0px;}

.h1{color: #A34C4C;}

.h2, .h3{color: white;}

.getSatrtButton, .generateCV{
  border-radius: 15px;
  height: 40px;
  width: 160px;
  background-color:#A34C4C;
  color: white;
  font-size: 20px;
  border-style: solid;
}

.HomePageComponent{

  width: 100%;
  height: 678px;
background-color: rgba(0,0,0,0.8);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.input{color: black;
background-color: #E3E3E3;}

.span{color:#8B8989;}

.button{
  background-color: #A34C4C;
  color:white;
  border-style: solid;
}

.sideDiv{
  width: 233px;
   height: 100vh;
  background-color: #A34C4C;
}
